.clear {
	clear: both;
 }

#headerWhiteBar {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}

.whiteBarText {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
}

.topBarMenu {
    font-weight: bold;
    font-size: 80%;
    padding-left: 12px;
    padding-right: 12px;
}

.topBarText {
    float: left;
    position: relative;
    top: 15px;
}

#bbcLogo {
	margin-left: 9%;
    margin-top: 8px;
    margin-right: 8px;
	float: left;
}

#signInImage {
    width: 25px;
    margin: 11px 15px;
    float: left;
}

#signInText {
    float: left;
    font-weight: bold;
    font-size: 80%;
    position: relative;
    top: 15px;
    padding-right: 60px;
}

#bellDiv {
    float: left;
}

#bell {
    height: 20px;
    margin: 10px 10px 0px 10px;
}

#wigglyLine  {
    float: left;
    height: 40px;
}

#moreText {
    padding-right: 50px;
}

#searchBar {
	top: 10px;
    background-color: #E4E4E4;
	border: none;
	font-weight: bold;
	font-size: 14px;
}

#magGlass {
	top: 10px;
	background-color: #E4E4E4;
	border: none;
}

#redBar {
	width: 100%;
	height: 80px;
	background-color: #BB1919;
	color: white;
    border-top: 1px solid #CCCCCC;
}

#redNewsBar {
	width: 1200px;
	margin: 0 auto;
    padding-bottom: 5px;
}

#redMenuBar-container {
    width: 100%;
	background-color: #A91717;
}

#redMenuBar {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

#redMenuBar a {
	color: white;
	font-size: 14px;
	text-decoration: none;
	padding: 0 10px;
	border-right: 1px solid #BB4545;
	position: relative;
	top: 12px;
	float: left;
}

/* For first link which is Home */
#redMenuBar a:first-of-type {
	padding-left: 8.5%;
}

#redArrow {
	float: left;
	height: 21px;
	position: relative;
	top: 8px;
}

.no-border {
	border: none !important;
}

#page-container {
    width: 1200px;
    margin: 0 auto;
}

#main-article p {
    font-size: 14px;
}

#article-container {
    width: 750px;
    border-right: 1px solid #CCCCCC;
    float: left;
    margin-left: 35px;
}

#article-summary {
    color: #5A5A5A;
    width: 250px;
    margin-left: 8.5%;
    float: left;
    padding-right: 20px;
}

#date {
	padding-right: 5px;
}

#article-summary img {
    position: relative;
    top: 5px;
}

.subject-link {
    text-decoration: none;
    color: #A91717;
	border-left: 1px solid #CCCCCC;
    padding-left: 5px;

}

.subject-link:hover {
    color: #1167A8;
}

#asda-img {
    float: left;
}

#article-hr {
    border-color: #A91717;
    width: 50px;
    float: left;
    position: relative;
    bottom: 10px;
}

.article-links:visited,
.article-links {
    /*margin-top: 10px;*/
    text-decoration: none;
    float: left;
    font-size: 14px;
    padding-bottom: 10px;
    color: black;
}

.article-links:hover {
    color: #1167A8;
}

#watch-container {
    margin-left: 15px;
    float: left;
    width: 350px;
}

#watch-header {
    font-size: 25px;
    font-weight: 500;
    /*padding-left: 15px;*/
    color: #404045;
}

.videos {
    margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
}

.video-link {
	text-decoration: none;
	color: black;
}

.video-link:visited {
	color: #686868;
}

.video-link:hover {
	color: #1167A8;
}

.videos img {
    float: left;
    padding-right: 5px;
}

h1 {
	padding: 0;
	margin: 0;
	color: white;
	font-size: 40px;
	font-weight: 100;
	padding-top: 10px;
	padding-left: 8.5%;
}

h2 {
    font-weight: normal;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 8.5%;
    border-bottom: 3px solid #BB1919;
    width: 105px;
}

h3 a {
    color: black;
    font-size: 30px;
    text-decoration: none;
	margin-left: 8.5%;
}

h3 a:hover {
    color: #1167A8;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}
