#headerWhiteBar {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}

.whiteBarText {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
}

.topBarMenu {
    font-weight: bold;
    font-size: 80%;
    padding-left: 12px;
    padding-right: 12px;
}

.topBarText {
    float: left;
    position: relative;
    top: 15px;
}

#bbcLogo {
	margin-left: 45px;
    margin-top: 8px;
    margin-right: 8px;
	float: left;
}

#signInImage {
    width: 25px;
    margin: 11px 15px;
    float: left;
}

#signInText {
    float: left;
    font-weight: bold;
    font-size: 80%;
    position: relative;
    top: 15px;
    padding-right: 60px;
}

#bellDiv {
    float: left;
}

#bell {
    height: 20px;
    margin: 10px 10px;
}

#wigglyLine  {
    float: left;
    height: 40px;
}

#moreText {
    padding-right: 50px;
}

#searchBar {
	top: 10px;
    background-color: #E4E4E4;
	border: none;
	font-weight: bold;
	font-size: 14px;
}

#magGlass {
	top: 10px;
	background-color: #E4E4E4;
	border: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
